.logo {
  color: #ff385c;
}
.ant-dropdown {
  .ant-dropdown-menu {
    margin-top: 15px;
    .ant-dropdown-menu-item-only-child {
      margin: 10px 0;
      padding-right: 50px;
    }
  }
}
.btn {
  color: #6a6a6a;
}
.active {
  color: black;
  font-weight: 600;
}
.search,
.inputLabel {
  cursor: pointer;
}
.btn:hover,
.search:hover,
.globe:hover {
  background-color: #f7f7f7;
  background-color: red
}
.search:hover {
  .inputCustom {
    background-color: #f7f7f7;
    background-color: red;

  }
}