@import "../../styles/breakpoints";
.logo {
  color: #ff385c;
}
.ant-dropdown {
  .ant-dropdown-menu {
    margin-top: 15px;
    .ant-dropdown-menu-item-only-child {
      margin: 10px 0;
      padding-right: 50px;
      .ant-dropdown-menu-title-content {
        font-weight: 510;
      }
    }
  }
}
.btn-search {
  color: #6a6a6a;
}
.active {
  color: black;
  font-weight: 600;
}
.search-bar__container {
  border: 1px solid gray;
}
.active:hover {
  background-color: white;
}
.search-input,
.input-label,
.search-button {
  cursor: pointer;
}

.input-label {
  border: none;
}
.btn-search:hover,
.search-input:hover,
.globe:hover {
  background-color: #ebebeb;
}
.btn-hover:hover {
  color: black;
}
.active.btn-hover {
  background-color: white;
}
.search-input:hover {
  .input-search__bar {
    background-color: #ebebeb;
  }
}
.mag-glass,.mag-glass__find {
  background-color: #ff385c;
  border-radius: 30px;
}

.btnSearch,
.btn-rent,
.input-label {
  color: #222222;
}
.btn-label,
.inputCustom {
  color: #6a6a6a;
}
.input-label {
  font-weight: 700;
  font-size: 0.75rem;
}

.greeting-style {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #ff385c !important;
}
.header {
  .header-container {
    padding: 0;
  }
  .header-center__container2 {
    display: none;
  }
  .header-bottom__nav {
    display: flex;
    .bottom-nav_container {

      padding: 0 1rem;
    }
  }
  .btn-search__mobile {
    border-radius: 40px;
  }
  @media (max-width: $breakpoint-xs) {
    height: 6rem;
    .header-bottom__nav {
      display: flex;
      .bottom-nav_container {
        padding: 0 2rem;
      }
    }
    .btn-search__mobile {
      border-radius: 40px;
    }
  }

  @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 0.02px)) {
    height: 6rem;
    .header-bottom__nav {
      display: flex;
      .bottom-nav_container {
        padding: 0 3rem;
      }
    }
    .btn-search__mobile {
      border-radius: 40px;
    }
  }

  @media (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 0.02px)) {
    height: 15rem;
    .header-bottom__nav {
      display: none;
    }
    .header-container {
      padding: 0 2rem;
      // display: none;
    }
    .header-container__main {
      height: 3.5rem;
    }
    .header-logo__container {
      margin-bottom: 0.5rem;
    }
    .header-center__container {
      display: none;
    }
    .header-right__container {
      width: calc(100% * 8 / 12);
    }
    .header-center__container2 {
      display: flex;
    }
    .btn-search__mobile {
      display: none;
    }
  }

  @media (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 0.02px)) {
    height: 11rem;
    .header-bottom__nav {
      display: none;
    }
    .header-container {
      height: 3.5rem;
      padding: 0 2rem;
    }
    .header-container__main {
      margin-top: 1rem;
    }
    .header-logo__container {
      margin-bottom: 0.5rem;
      width: calc(100% / 6);
    }

    .header-center__container {
      display: none;
    }
    .header-right__container {
      width: calc(100% * 8 / 12);
    }
    .header-center__container2 {
      display: flex;
    }
    .btn-search__mobile {
      display: none;
    }
  }

  @media (min-width: $breakpoint-xl) and (max-width: ($breakpoint-xxl - 0.02px)) {
    height: 11rem;
    .header-bottom__nav {
      display: none;
    }
    .header-container {
      padding: 0 2rem;
    }
    .btn-hover {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn-search__mobile {
      display: none;
    }
  }

  @media (min-width: $breakpoint-xxl) {
    height: 12rem;
    .header-bottom__nav {
      display: none;

    }
    .header-container {
      padding: 0 5rem;
    }
    .btn-hover {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn-search__mobile {
      display: none;
    }
  }
}
.header-container__main {
  display: none;
  @media (max-width: $breakpoint-xs) {
  }

  @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 0.02px)) {
  }

  @media (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 0.02px)) {
    display: flex;
    width: 100%;
  }

  @media (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 0.02px)) {
    display: flex;
    width: 100%;
  }

  @media (min-width: $breakpoint-xl) and (max-width: ($breakpoint-xxl - 0.02px)) {
    display: flex;
    width: 100%;
  }

  @media (min-width: $breakpoint-xxl) {
    display: flex;
    width: 100%;
  }
}
.header-logo__container {
  .header-logo__icon {
    display: none;
  }
  .header-logo {
    display: none;
  }

  @media (max-width: $breakpoint-xs) {
  }

  @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 0.02px)) {
  }

  @media (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 0.02px)) {
    .header-logo__icon {
      display: block;
      width: 2.85rem;
      height: 2rem;
    }
  }

  @media (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 0.02px)) {
    .header-logo__icon {
      display: block;
      width: 2.85rem;
      height: 2rem;
    }
  }

  @media (min-width: $breakpoint-xl) and (max-width: ($breakpoint-xxl - 0.02px)) {
    .header-logo {
      display: block;
      width: 6rem;
    }
  }

  @media (min-width: $breakpoint-xxl) {
    .header-logo {
      display: block;
      width: 6.5rem;
    }
  }
}
.header-center__container {
  .btn-hover {
    display: none;
  }
  @media (max-width: $breakpoint-xs) {
  }

  @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 0.02px)) {
  }

  @media (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 0.02px)) {
    .btn-hover {
      display: block;
    }
  }

  @media (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 0.02px)) {
    .btn-hover {
      display: block;
    }
  }

  @media (min-width: $breakpoint-xl) and (max-width: ($breakpoint-xxl - 0.02px)) {
    .btn-hover {
      display: block;
    }
  }

  @media (min-width: $breakpoint-xxl) {
    .header-logo {
      display: block;
      width: 6.5rem;
    }
    .btn-hover {
      display: block;
    }
  }
}
.search-container {
  .search-bar__container {
    display: none;
  }
  @media (max-width: $breakpoint-xs) {
  }

  @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 0.02px)) {
  }

  @media (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 0.02px)) {
    .search-bar__container {
      display: flex;
      width: 85%;
      height: 4rem;
      margin-top: 0;
      .btnSearch {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .mag-glass__find {
        padding: 0.75rem 0.75rem;
        font-size: smaller;
      }
    }
    .search-main__container {
      gap: 1rem;
    }
  }

  @media (min-width: $breakpoint-lg) and (max-width: ($breakpoint-xl - 0.02px)) {
    .search-bar__container {
      display: flex;
      height: 4rem;
      width: 85%;
      margin-top: 0;
    }
    .search-main__container {
      gap: 1rem;
    }
  }

  @media (min-width: $breakpoint-xl) and (max-width: ($breakpoint-xxl - 0.02px)) {
    .search-bar__container {
      display: flex;
      width: 70%;
    }
  }
  @media (min-width: $breakpoint-xxl) {
    .search-bar__container {
      display: flex;
      width: 50%;
    }
  }
  @media (min-width: 1439px) and (max-width: 1463.98px) {
    .search-bar__container {
      display: flex;
      width: 75%;
      .btn-search {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 4rem;
        font-size: 0.9rem;
      }
     
    }
  }
}
// .datepicker-container {
//   width: 100%;
//   position: absolute;
//   top: 50%;
//   left: 0;
// }