.header {
  width: 100%;
  .inputLabel {
    border: none;
  }
}
.logo {
  color: #ff385c;
}
.ant-dropdown {
  .ant-dropdown-menu {
    margin-top: 15px;
    .ant-dropdown-menu-item-only-child {
      margin: 10px 0;
      padding-right: 50px;
      .ant-dropdown-menu-title-content {
        font-weight: 510;
      }
    }
  }
}
.btn {
  color: #6a6a6a;
}
.active {
  color: black;
  font-weight: 600;
}
.active:hover {
  background-color: white;
}
.search,
.inputLabel {
  cursor: pointer;
}


.btn:hover,
.search:hover,
.globe:hover {
  background-color: #ebebeb;
}
.btnHover:hover {
  color: black;
}
.active.btnHover {
  background-color: white;
}
.search:hover {
  .InputSearchBar {
    background-color: #ebebeb;
  }
}
.mag-glass {
  background-color: #ff385c;
  border-radius: 30px;
}

.btnSearch,
.btnRent,
.inputLabel {
  color: #222222;
}
.btnLabel,
.inputCustom {
  color: #6a6a6a;
}
.inputLabel {
  font-weight: 700;
  font-size: 0.75rem;
}

.greeting-style{
  font-size: 20px !important;
  font-weight: bold !important;
  color:#ff385c !important;
}