.popup-location {
    position: absolute;
    top: 16%;
    left: 86px;
    width: 40%;
    height: 60%; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .popup-content {
    flex: 1;
    overflow-y: auto;
    margin-top: 18px;
  }
  
  .close-btn {
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  