.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #CD2626;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    z-index: 999;
    opacity:50%;
  }
  
  .scroll-to-top-btn:hover {
    background-color:  #EE2C2C;
    opacity:100%;
  }
  
  @media only screen and (max-width: 375px) {
    .scroll-to-top-btn {
      padding: 5px 10px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .scroll-to-top-btn {      
    padding: 8px 16px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .scroll-to-top-btn {     
    padding: 10px 20px;
    }
  }