
.mt-5 {
  margin-top: 1.5rem;
}

.pr-24 {
  padding-right: 6rem;

  @media (max-width: 768px) {
    padding-right: 1rem;
  }
}

.pr-28 {
  padding-right: 15rem;

  @media (max-width: 768px) {
    padding-right: 1rem;
  }
}

.pl-52 {
  padding-left: 20rem;

  @media (max-width: 768px) {
    padding-left: 1rem;
  }
}

.taoHoSoGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.taoHoSoCol {
  grid-column: span 3;

  @media (max-width: 768px) {
    grid-column: span 6;
  }
}

.textTitle {
  font-size: 30px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.buttonEdit {
  border: 0.5px solid gray;
  border-radius: 20px;
  padding: 0 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;

  &:hover {
    background-color: gray;
    color: white;
  }
}

.imgLeft {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0.5px solid gray;
}

.imgBg {
  top: 0;
  left: 0;
}

.ant-btn-primary {
  background: gray;
  &:hover {
    background: rgb(170, 169, 169);
  }
}

.ant-btn-default {
  &:hover {
    color: black;
    border-color: rgb(170, 169, 169);
    background: #ffffff;
  }
}

.ant-input-outlined,
.ant-select-outlined,
.ant-picker-outlined {
  &:hover {
    border-color: rgb(170, 169, 169);
  }
}
