.buttonEdit {
  border: 0.5px solid gray;
  border-radius: 20px;
  padding: 0px 5px;
  cursor: pointer;
  background-color: white;
  color: black;
  bottom: -4px;
  left: 56px;
  font-weight: bold;
}
.buttonEdit:hover {
  background-color: gray;
  color: white;
}
.imgLeft {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0.5px solid gray;
}
.textTitle {
  font-size: 30px;
  font-weight: bold;
}

.imgBg {
  top: 0;
  left: 0;
}

.ant-btn-primary {
  background: gray;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background: rgb(170, 169, 169);
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: black;
  border-color: rgb(170, 169, 169);
  background: #ffffff;
}
.ant-input-outlined:hover {
  border-color: rgb(170, 169, 169);
}
.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector {
  border-color: rgb(170, 169, 169);
}

.ant-picker-outlined:hover {
  border-color: rgb(170, 169, 169);
}
