@import "../../styles/breakpoints";


.room-location__main {
    display: flex;
    width: 100%;
    padding: 0 5rem;
    .room-location__list, .room-location__map {
        width: 50%;
    }
    @media (max-width: $breakpoint-xs) {
        padding: 0 5rem;
        flex-direction: column;
        width: 100%;
        .room-location__list, .room-location__map {
            width: 100%;
        }
        .room-location__map {
            height: 15rem;
        }
    }
    
    @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 0.02px)) {
        flex-direction: column;
        padding: 0 5rem;
        width: 100%;
        .room-location__list, .room-location__map {
            width: 100%;
        }
        .room-location__map {
            height: 15rem;
        }
    }
    
    @media (min-width: $breakpoint-md) and (max-width: ($breakpoint-lg - 0.02px)) {
        // flex-direction: column;
      
    }
}
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      color: black;
      font-size: 12px;
      height: 24px;
      width: 24px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: white;
    }
    &:hover {
      &::after {
        height: 28px;
        width: 28px;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .location-img__container{
    &:hover {
      .swiper-button-prev,
      .swiper-button-next {
        display: block;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: white;
  }