.trips-find__trip {
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
}
.trips-find__room {
  color: #ff5a83;
  &:hover {
    color: #f2285f;
  }
}
.trips-cancel__button {
    background-color: #f2285f;
    &:hover {
      background-color: #ff5a83;
    }
}