.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 470px !important;
    height: 35px !important;
}
.ant-btn-link {
    color: #8b8989;
}
.ant-btn-link:not(:disabled):not(.ant-btn-disabled):hover {
    color: #2f4f4f;
    background: transparent;
}
.ant-select .ant-select-arrow {
    display: none;
}
.ant-pagination .ant-pagination-options {
    display: none;
}

.ant-table-wrapper .ant-table-pagination-right {
    justify-content: center;
}

.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
    border-color: #8b8989;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
    padding: 8px 8px;
}

.widthModalPhong {
    width: 666px !important;
}
