.filterIconContainer {
  overflow-x: auto;
  margin-top: 1.5rem;
  padding-top: 1.3rem;
  display: flex;
  align-items: start;
  justify-content: start;
  .filterIconDiv {
    padding-bottom: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
    font-size: small;
    opacity: 0.7;
    border-bottom: 1px solid white;
    &:hover {
      transition: all 0.4s;
      border-bottom: 1px solid black;
      opacity: 1;
    }
  }
  .selectedIcon {
    border-bottom: 1px solid black;
    opacity: 1;
  }
  .filterIcon {
    height: 24px;
    width: 24px;
  }
  .iconLabel {
    font-size: 0.5rem;
  }
  .filterIconContainer {
    display: flex;
  }
  
  .filterIconDiv {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .filterIconDiv:hover::after,
  .filterIconDiv.selectedIcon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: black;
  }
  
  .label {
    position: relative;
    z-index: 1;
  }
  
  .label:hover::after,
  .filterIconDiv.selectedIcon .label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
  }
}
